# User Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- Laura Harvey
- Lianne Hebert
- Stephanie Csanky

## Tasks

1. Read about the 3 Jellyfish Types
2. Read about the cullinary use of Jellyfish
3. Find out the nickname used for Jellyfish

---

## Individual Results & Observations

### Laura Harvey

- She found the page easily and read all 3 
- She found the bucket right away
- She read the banner at the top and found they were jellies




### Lianne Hebert
- It took her a little while to find the nav at the top
- She found the bucket right away
- She read the banner at the top and found they were jellies


### Stephanie Csanky

- She found the page easily and read all 3 
- She found the bucket right away
- She read the banner at the top and found they were jellies

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- nothing was impossible to complete, they didn't have any critical issues

### Serious, Causes Frustration, May Hinder Completion

- all the participants succeeded at the tasks

### Minor, Annoying, Won’t Hinder Completion

- one of the participants took a while to find the nav for jellyfish types but she found it eventually 