<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jellyfish are spineless free-swimming sea creatures with a bell shaped body and tentacles. They encompass a broad range of topics from specific jellyfish breeds to the culinary uses of jellyfish. Some jellyfish breeds are dangerous and should be avoided.">
    <meta name="author" content="">
	<!--Facebook-->
	<meta property="og:type" content="article">
	<meta property="og:title" content="Jellyfish">
	<meta property="og:url" content="http://ngsabrina.github.io/large-data-website/">
	<!--Image size: min 200x200, they prefer 1500x1500 -->
	<meta property="og:image" content="http://ngsabrina.github.io/large-data-website/image.jpg">
	<!--These ones are optional for FB but you might as well put them in there, says Thomas -->
	<meta property="og:site_name" content="Jellyfish">
	<meta property="og:description" content="Jellyfish are spineless free-swimming sea creatures with a bell shaped body and tentacles. They encompass a broad range of topics from specific jellyfish breeds to the culinary uses of jellyfish. Some jellyfish breeds are dangerous and should be avoided.">
	
	<!--Twitter-->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Jellyfish">
	<meta property="twitter:url" content="http://ngsabrina.github.io/large-data-website/">
	<!--Image size: min 120x120 -->
	<meta property="twitter:image" content="http://ngsabrina.github.io/large-data-website/image.jpg">
	<!--These ones are optional for FB but you might as well put them in there, says Thomas -->
	<meta property="twitter:description" content="Jellyfish are spineless free-swimming sea creatures with a bell shaped body and tentacles. They encompass a broad range of topics from specific jellyfish breeds to the culinary uses of jellyfish. Some jellyfish breeds are dangerous and should be avoided.">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">
	

    <title>JELLYFISH — Spineless, free-swimming sea creatures</title>

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/css/jellyfish.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>

  </head>

  <body id="top">
  
  <ul class="skiplinks">
	<li><a href="#main">Skip to Primary Content</a></li>
	<li><a href="#complementary">Skip to Secondary Content</a></li>
	<li><a href="#navigation">Skip to Navigation</a></li>
</ul>
		<nav role="navigation" id="navigation">

	   <div class="navbar navbar-inverse navbar-fixed-top">

      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Jellyfish</a> -->
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">

		  
		   <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">What's A Jelly?<b class="caret"></b></a>
              <ul class="dropdown-menu">
			  <li class="{% if page.url == '/index.html' %}active{% endif %}"><a href="{{site.baseurl}}/index.html">What's A Jellyfish</a></li>
                <li class="{% if page.url == '/culinary.html' %}active{% endif %}"><a href="{{site.baseurl}}/culinary.html">Culinary Uses</a></li>
              </ul>
            </li>
            <li class="{% if page.url == '/types.html' %}active{% endif %}"><a href="{{site.baseurl}}/types.html">Jellyfish Types</a></li>
			
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Specific Breeds <b class="caret"></b></a>
              <ul class="dropdown-menu">
                	<li class="{% if page.url == '/purple-striped.html' %}active{% endif %}"><a href="{{site.baseurl}}/purple-striped.html">Purple Striped Jelly</a></li>
					 <li class="{% if page.url == '/moon.html' %}active{% endif %}"><a href="{{site.baseurl}}/moon.html">Moon Jelly</a></li>                
 					 <li class="{% if page.url == '/white-spotted.html' %}active{% endif %}"><a href="{{site.baseurl}}/white-spotted.html">White Spotted Jelly</a></li>
					  <li class="{% if page.url == '/freshwater.html' %}active{% endif %}"><a href="{{site.baseurl}}/freshwater.html">Freshwater Jelly</a></li>
              </ul>
            </li>
			
			  <li class="{% if page.url == '/dangers.html' %}active{% endif %}"><a href="{{site.baseurl}}/dangers.html">Dangers of Jellyfish</a></li>
			 <li class="{% if page.url == '/science.html' %}active{% endif %}"><a href="{{site.baseurl}}/science.html">Scientific Works</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</nav>
	{{content}}
	
  <div class="footer">
 
  	<a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/img/jelly-logo.svg" class="logo" alt="jellyfish logo"></a>
      <p>&copy; Jellyfish 2013</p>
		<a href="#top">Top</a>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	 <script src="{{site.baseurl}}/js/jquery.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  </body>
</html>
