<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jellyfish are spineless free-swimming sea creatures with a bell shaped body and tentacles. They encompass a broad range of topics from specific jellyfish breeds to the culinary uses of jellyfish. Some jellyfish breeds are dangerous and should be avoided.">
    <meta name="author" content="">
	<!--Facebook-->
	<meta property="og:type" content="article">
	<meta property="og:title" content="Title of the Page">
	<meta property="og:url" content="http://fullurl.com/to-this/article.html">
	<!--Image size: min 200x200, they prefer 1500x1500 -->
	<meta property="og:image" content="http://domain.com/img/thing.jpg">
	<!--These ones are optional for FB but you might as well put them in there, says Thomas -->
	<meta property="og:site_name" content="Name of this Website/Company">
	<meta property="og:description" content="Small description; re-use your meta description">
	
	<!--Twitter-->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="Title of the Page">
	<meta property="twitter:url" content="http://fullurl.com/to-this/article.html">
	<!--Image size: min 120x120 -->
	<meta property="twitter:image" content="http://domain.com/img/thing.jpg">
	<!--These ones are optional for FB but you might as well put them in there, says Thomas -->
	<meta property="twitter:description" content="Small description; re-use your meta description">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">
	

    <title>JELLYFISH — Spineless, free-swimming sea creatures</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jellyfish.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

	   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Jellyfish</a> -->
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">What's A Jellyfish</a></li>
            <li><a href="#">Jellyfish Types</a></li>
            <li><a href="#">Specific Breeds</a></li>
			 <li><a href="#">Dangers of Jellyfish</a></li>
			 <li><a href="#">Scientific Works</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	{{content}}
	
  <div class="footer">
        <p>&copy; Jellyfish 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	 <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
